.button {
  svg {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
  }
  width: 100%;
}

.pencil-markings {
  .button {
    svg {
      margin: 0 0.5rem;
    }
  }
}


.button .tooltiptext {
  width: 10rem;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.button:hover .tooltiptext {
  visibility: visible;
}