.options {
  border-right: 2px solid black;
  .options-title {
    height: 4rem;
    svg {
      width: 3.75rem;
      height: 3.75rem;
      cursor: pointer;
    }
    h2 {
      position: absolute;
      left: 5rem;
    }
    .button.sidebar-title {
      border: none;
      span {
        font-size: 2.25rem;
        line-height: 2.5rem;
      }
    }
  }
}

.options.closed {
  .buttons {
    svg {
      width: 2.75rem;
      height: 2.75rem;
      margin: 1.55rem 0;
    }
    .button {
      padding-left: 0;
      padding-right: 0;
      border: none;
    }
    svg {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 640px) {
  .options {
    border: none;
  }
}

@media only screen and (max-width: 640px) {
  .options {
    .options-title {
      svg {
        width: 3rem;
        height: 3rem;
      }
      h2 {
        position: absolute;
        left: 4rem;
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1315px) {
  .options {
    .options-title {
      h2 {
        font-size: 1.875rem;
      }
    }
  }
}

@media only screen and (min-width: 1385px) {
  .options {
    .options-title {
      h2 {
        left: 6rem;
      }
    }
  }
}
