.App {
  text-align: center;
}

.sudokuGrid {
  max-width: 600px;
}

.numpad {
  width: 300px;
  height: 300px;
}

input:focus-visible {
  outline: 0;
}

.sudoku-game-itself {
  max-width: 90rem;
}

/* Hide the number input arrows in modern browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
